*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* index style start */
header img{
    width: 80%;
    height: 55vh;
   margin-left: 120px;
   position:relative;
}
header{
    background-color: #5D534A;
}
header a{
    text-decoration: none;
    margin-left: 140px;
    color: #F3CB98;  
}
header a:hover{
    color: white;
    transition: 1s ease-in-out;
}
main .design{
     margin-top: 800px;
    width: 100%;
    height: 350vh;
    background-color: rgb(251, 251, 251);
}
.design .block-1{
    display: flex;
}
.design .block-1 .img-1 img{
    width: 55%;
    height: 87%;
    margin-left: 150px;
    margin-top: 40px;
}
.design .block-1 h2{
    margin-top: 65px;
    margin-left: -180px;
    font-family: 'Courgette', cursive;
    color:#B5A99A;
}
.design .block-1 .h6{
    margin-top: 120px;
    margin-left: -333px;
    font-family: 'Charm', cursive;
font-family: 'Courgette', cursive;
font-family: 'Croissant One', serif;
font-family: 'Kalam', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Lora', serif;
font-family: 'Playfair Display', serif;
}
.design .block-1 .h6 h6{
    font-size: 16px;
    font-weight: 100;
    color: #666464;
}
.design .block-1 .img-2 img{
    width: 450px;
    height: 310px;
    margin-top: 205px;
    margin-left: -350px;
}
.design .block-2 .img-1 img{
    width: 35.60%;
    height: 255px;
    margin-left: 150px;
}
.design .block-2 h2{
    margin-top: 10px;
    margin-left: 145px;
    color: #B5A99A;
    font-family: 'Courgette', cursive;
}
.design .block-2 .h6 h6{
    font-size: 16px;
    font-weight: 100;
    margin-left: 150px;   
    color: #666464;
}
.design .block-2 .img-2 img{
    width: 450px;
    height: 460px;
    object-fit: cover;
    object-position: 50% 50%;
}
.design .block-2 .img-2{
    margin-left: 50%;
    margin-top: -35%;
}
.design .block-3{
    margin-top: 40px;
}
.design .block-3 .img-1 img{
    width: 930px;
    height: 550px;
    object-fit: center;
}
.design .block-3 .img-1{
    text-align: center;
}
.design .block-3 .mini-block{
 margin-top: -350px;
 margin-left: 25%;
 width: 50%;
 height: 50%;
 text-align: center;
 background-color: white;
}
.design .block-3 .mini-block h2{
    color: #B5A99A;
}
.design .block-3 .mini-block p{
    margin-top: -10px;
    color: white;
}
.design .block-3 .smry{
    margin-top: 250px;
    text-align: center;
    font-style: italic;
    color: #c2b7a6;
}
.design .block-3 .smry span{
    margin-top: 20px;
    color:black;
    font-style: italic;
    font-weight: 100;
}
.design .block-3 .mini-block{
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    top: 50%;
    left: 600px;
    height: 150px;
    transform: translate(-20%, -20%);
    z-index: -1;
    width: 470px;
    text-align: center;
    margin-left: 500px;
    font-style: italic;
}
.design .block-3 .mini-block h2{
    font-style: italic;
    padding-top: 10px;
    font-family: 'Courgette', cursive;
    font-family: 'Croissant One', cursive;
    font-family: 'Lora', serif;
}
.design .block-3 .mini-block p{
    color: #9b9892;
    font-weight: 100;
}
 .second {
      margin-top: 0vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      height: 100vh;
}
 .mini-block-2{
  width: 400px;
  margin-left: 420px;
  position: relative;
  top: 150px;
  text-align: center;
  height: 173px;
  background-color: rgb(255, 255, 255);
  padding-top: 10px;
  padding-bottom: 59px;
}
.mini-block-2 em{
    color: #B5A99A;
   font-size: 27px;
    height: 30px;
    font-family: 'Courgette', cursive;

}
footer{
    width: 100%;
    height: 160px;
    background-color: #5D534A;
}
footer .cons {
    text-align: center;
    display: flex;
}
footer .cons .logo{
    margin-left: 50px;
    margin-top: 10px;
}
footer .cons p{
    margin-top: 10px;
    margin-left: 440px;
    color: white;
    font-size: 15px;
    font-weight: 100;
}
.bottom-head{
    margin-left: 20%;
    margin-top: 10px;
}
.bottom-head a{
    color: #decdb8;
    text-decoration: none;
    font-weight: 100;
    font-size: 15px;
    padding: 0px 48px;
}
.bottom-head a:hover{
    color: white;
    transition: 1s ease-in-out;
}
footer .contact{
    display: flex;
    margin-top: 30px;
    margin-left: 320px;
    color: white;
    padding: 0px 10px;
    font-size: 14px;
    font-weight: 100;
}
footer .contact a{
    color: white;
    margin-left: 10px;
}
footer .contact span{
    margin-left: 8px;
}
/* index style ends */



/* about style start */
main{
    display: flex;
}
.a1 h2{
    color: #B5A99A;
    font-size: 30px;
     height: 30px;
     font-family: 'Charm', cursive;
font-family: 'Courgette', cursive;
font-family: 'Croissant One', serif;
font-family: 'Kalam', cursive;
font-family: 'Kaushan Script', cursive;

}
.a1 h5{
    color: #A0A0AB;
    font-size: 22px;
    font-weight: 450;
}
.a1 p{
    font-size: 14px;
    font-weight: 100;
    color: #6F7573;
    margin-top: 20px;
}
main .a1{
    margin-top: 50px;
    margin-left: 160px;
}
main .a2 .img-8 img{
    width: 450px;
    height: 594px;
    object-fit: cover;
}
main .a2 .img-8{
    position: relative;
    right: 55px;
    top: 128px;
}
main .a2 .img-9 img{
     width: 249px;
    height: 332px;
    object-fit: cover;
    object-position: 50% 50%; 
    position: relative;
    top: 460px;
    left: 120px;
}
.footer .img-10{
    position: relative;
    top: 200px;
    background-size: cover;
    background-position: center;
}
.footer .img-10 img{
   width: 100%;
  height: 250px;
}
/* about style ends */

/* sevice style start */



.s1 h2{
    color: #B5A99A;
    font-size: 35px;
     height: 30px;
     font-family: 'Charm', cursive;
     font-family: 'Courgette', cursive;
     font-family: 'Croissant One', serif;
     font-family: 'Kalam', cursive;
     font-family: 'Kaushan Script', cursive;
}
.s1 p{
    font-size: 14px;
    font-weight: 100;
    color: #6F7573;
    margin-top: 20px;
}
main .s1{
    margin-top: 50px;
    margin-left: 170px;
}
.s1 .img-11{
    position: absolute;
    left: 650px;
    top: 645px;
}
 .s1 .img-11 img{
    width: 445px;
    height: 720px;
    object-fit: cover;
}
.s1 h5{
    font-family: 'Courgette', cursive;
font-family: 'Croissant One', cursive;
font-family: 'Kalam', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Lora', serif;
font-family: 'Playfair Display', serif;
font-style: italic;
font-weight: 1000px;
font-size: 22px;
color: #605E5E;
padding-top: 2px;
}

.footer-2 .img-12{
    position: relative;
    top: 200px;
    background-size: cover;
    background-position: center;
}
.footer-2 .img-12 img{
   width: 100%;
  height: 380px;
  display: flex;
  justify-content: space-around;
}
/* sevice style ends */



/* project style starts */
.container{
    position: relative;
    top: 110px;
}
.container h2{
    margin-left: 100px;
}
.container img{
    margin-left: 100px;
    width: 80%;
    height: 450px;
}

.container-1{
    height: 350px;
    position: absolute;
    left: 20%;
    top: 300%;
    width: 60%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.slide-container{
    display: flex;
    width: calc(100px * 18);
    animation: scroll 100s  infinite;
}
li{
    list-style: none;
}
@keyframes scroll{
     0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 9));
    }
}

.slide-image{
    margin-top: -190px;
    height: 250px;
    width: 300px;
    display: flex;
    align-items: end;
    perspective: 100px;
}

img{
    width: 100%;
    height: 60px;
    background-color: white;
    border: 1px solid black;
}

.container h2{
    font-family: 'Courgette', cursive;
    font-family: 'Croissant One', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 500px;
    font-size: 35px;
    color:#B5A99A;
}
.image-box{
    margin-top: 25%;
}
.image-box img{
    width: 100%;
    height: 100%;
}
/* project style starts */


/* contact-us style starts */
.contact{
    width: 70%;
    height: auto;
    position: relative;
}
.contact .img img{
    width: 1263px;
    height: 610px;
}
.address{
    width: 142.80%;
    height: auto;
    background: #fff;
    display: block;
}
.address .form{
margin-left: 120px;
}
.address .form textarea{
    margin-left: 255px;
    margin-top: -105px;
}
.address .form textarea::placeholder{
    color: #BC9B5D;
}
.address .form h2{
    color: #BC9B5D;
    font-family: 'Courgette', cursive;
    font-family: 'Croissant One', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 40px;
}
.address .form p{
    color: #605E5E;
    font-weight: 300;
    font-size: 20px;
}
.address .form p a{
    color: #605E5E;
}
 .form  caption{
    color: #605E5E;
    font-size: 50px;
}
.form form input{
    width: 22%;
    height: 30px;
    margin-top: 7px;
    border: 1px solid #605E5E;
}
.form form input::placeholder{
    color: #BC9B5D;
}
.form form button{
    display: block;
    margin-left: 39%;
    width: 50px;
}
.form form button{
    background-color: #BC9B5D;
    color: #fff;
    border: none;
}
.maps{
    margin-left: 50%;
    margin-top: -360px;
}
/* contact-us style starts */

